# Web Server
fastapi
uvicorn[standard]
pydantic
python-multipart
python-dotenv

# Core Math & Logic
numpy<2
psutil>=5.0.0
requests>=2.0.0
typing_extensions>=4.0.0
omegaconf

# Audio & ML (CPU Optimized)
torch --index-url https://pytorch.org
torchaudio --index-url https://pytorch.org
onnxruntime>=1.18.1
onnx-asr[hub]>=0.10.0
ffmpeg-python

# Development
pytest
